StockFile/schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

<xs:element name="stockItems">
  <xs:complexType>
	  <xs:sequence>

		  <xs:element name="stockItem" maxOccurs="unbounded">
			  <xs:complexType>
				  <xs:all>
					  <xs:element name="itemCode" type="xs:string"/>
					  <xs:element name="itemDescription" type="xs:string"/>
					  <xs:element name="currentCount" type="xs:integer"/>
					  <xs:element name="onOrder" type="xs:string"/>
				  </xs:all>
				  <xs:attribute name="id" type="xs:integer"/>
			  </xs:complexType>
		  </xs:element>

	  </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>